<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card" style="box-shadow: 10px 10px 5px #9d0208; background-color: black;">
          <div class="card-body">
            <h1 class="card-title" style="color: #d00000;">Happy Birthday My King!</h1>
            <p class="card-text" style="color: whitesmoke;">I'm so happy that your were born baby (you were born for me). 
              I wish you happiness and success (which you'll get soon as you are with me now). You are the reason of my 
              happiness andof others nd i love you deeply, despite all your annoying jokes and you irritating/mocking me.
              <br>I LOVE YOU MY EVERYTHING! <img src="hrt.jpg" alt="img" style="height: 50px; width: 50px;">
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="box-shadow: 10px 10px 5px #9d0208; background-color: black;">
          <div class="card-body">
            <h1 class="card-title" style="color: #d00000;">Will you go on a date with me?</h1>
            <p class="card-text" style="color: whitesmoke;">8th July 2025 [and forevermore]</p>
            <p class="card-text" style="color: whitesmoke;">This is just the beginning of many more surprises to come 
              for life,till end of time.</p>
            <button class="btn btn-success" (click)="opt1()">YES!</button>
            <button class="btn btn-info" style="width: 90px;" (click)="opt2()">Definately!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <img src="hrt1.jpg" alt="img" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
  </div>
</body>
</html>