body{
    background-color: black;
    color: white;
}
.container{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
button{
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 70px;
}
h1{
    margin: 10px;
    padding: 10px;
    text-align: center;
}